.display{
  text-align: center;
  font-size: 20px;
  padding : 25px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  font-family: 'Courier New', Courier, monospace;
  background-color:lightskyblue
}
.addbutton{
  text-align: center;
  font-size: 20px;
  padding : 5px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;

  background-color:chartreuse
}
.removebutton{
  text-align: center;
  font-size: 20px;
  padding : 5px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;

  background-color:crimson;
}
.resetbutton{
  text-align: center;
  font-size: 20px;
  padding : 5px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;

  background-color:cyan;
}

.card-container {
  justify-content: center;
  flex: 1;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(62, 102, 221);
  border-radius: 10px;
  height : 300px;
  width: 400px;
  margin: 20px auto;
  flex: 1;
}
.card-image{
  width: 150px;
  height: 150px;
  object-position: center;
  border-radius: 50%;
}

.header{
  text-align: center;
  font-size: 20px;
  padding : 25px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color:lightgreen
}

.footer{
  text-align: center;
  font-size: 20px;
  padding : 25px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color:lightgray;
  margin-bottom: 0;
  bottom: 0;
  flex: 1;
}

.textbox{
  text-align: center;
  font-size: 20px;
  padding : 25px 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

li{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(193, 225, 236);
  margin: 5px 0;
  padding: 20px;
  flex: 1;
  justify-content: center;
  align-self: right;
  text-align: center;
  
}